@using Barberland.Utility
@model ServiceCategoryComponentViewModel

<script src="~/lib/jquery-pagination/jquery.twbsPagination.min.js" asp-append-version="true"></script>
<div class="service-category-list">
    <div class="row card-group justify-content-center" style="flex-direction:inherit;">
        @{
            if (Model.ServiceCategories == null || Model.ServiceCategories.Count == 0)
            {
                <p>No service available at this time.</p>
            }
            else
            {
                foreach (var serviceCategory in Model.ServiceCategories)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="card card-service-category text-center">
                            <div class="card-img-top ratio ratio-1x1">
                                <img class="img-fluid" src="@serviceCategory.ImgThumbnailUrl" alt="@serviceCategory.Name">
                            </div>
                            <div class="card-body">
                                <small class="text-muted">@serviceCategory.BarbershopName</small>
                                <h5 class="card-title">@serviceCategory.Name</h5>
                                @*@{
                                        decimal CurrentPrice = product.Price - product.Discount.GetValueOrDefault();
                                        int DiscountPercent = product.Discount.HasValue ? (int)decimal.Round(product.Discount.Value * 100 / product.Price) : 0;
                                    }*@
                                <p class="card-text" style="margin-bottom:0rem;">IDR @GlobalFunction.CreateDecimalMoneyFormatIDR(serviceCategory.Price)</p>
                                @*@if (product.Discount.HasValue && product.Discount.GetValueOrDefault() != 0)
                                    {
                                        <p class="card-text"><small><del>IDR @GlobalFunction.CreateDecimalMoneyFormatIDR(serviceCategory.Price)</del>&nbsp;&nbsp;<span class="badge badge-danger badge-percent">@string.Format(DiscountPercent + "%")</span></small></p>
                                    }*@
                            </div>
                            <a href="@string.Format("/{0}", serviceCategory.Permalink)" class="stretched-link">
                            </a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

@{
    if (Model.IsShowPagination)
    {
        <nav aria-label="PaginationBarbershopServiceList">
            <ul id="barbershop-service-pagination" class="pagination justify-content-center">
            </ul>
        </nav>

        <script>
            var queryStringParam = new URLSearchParams(window.location.search);
            if (queryStringParam.has('page')) {
                queryStringParam.set('page', '@Model.PageNumber');
                var uri = window.location.toString();
                var clean_uri = uri.substring(0, uri.indexOf("?"));
                var new_uri = clean_uri + '?' + queryStringParam.toString();
                window.history.replaceState({}, document.title, new_uri);
            }

            $('#barbershop-service-pagination').twbsPagination({
                startPage: @Model.PageNumber,
                totalPages: @Model.TotalPages.ToString(),
                visiblePages: 5,
                href: true,
                pageVariable: 'page',
                first: '<span aria-hidden="true">&laquo;</span>',
                prev: '<span aria-hidden="true">&lsaquo;</span>',
                last: '<span aria-hidden="true">&raquo;</span>',
                next: '<span aria-hidden="true">&rsaquo;</span>',

            });
        </script>
    }
}
